header {
    background-image:url(WebFinal/bgrel.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    
    font-family:'IBM Plex Sans-bold' ;
}
body{
    font-family: 'IBM Plex Sans-bold', sans-serif;
}
h1,h2,h3,h4{
    font-family :'IBM Plex Sans', sans-serif;
}
nav{
    font-family :'IBM Plex Sans', sans-serif;

}